{{#partial "content"}}

   {{#if detailFood}}
       <h1>Edit this Food</h1>
       <form action="/foods/{{detailFood.id}}/update" method="post">
           <label for="servings">Edit this food's servings</label>
           <input id="servings" name="servings" type="text" value="{{detailFood.servings}}">
   {{else}}

    <h3>What did you Eat?</h3>

    <form action="/foods/new" method="post">
       <select class="custom-select" name="foodSelector">
           <option selected>select food item</option>
           <option value="almondbutter">almond butter</option>
           <option value="blueberries">blueberries</option>
           <option value="3">Three</option>
       </select>

        <label for="servings">How many servings</label>
        <input id="servings" name="servings" type="text">
        {{/if}}
        <button type="submit" class="btn btn-default">Submit nom nom</button>
    </form>

 {{/partial}}

{{> layout.hbs}}